openapi: 3.2.0
info:
  title: Token Corrections API
  version: '2.0'
  description: Published by Solidus Labs as the TokenSniffer API. Assembled verbatim from the OpenAPI 3.1.0 fragments Solidus Labs publishes on each operation page of https://tokensniffer.readme.io/reference/ (llms.txt markdown rendering). No operation, parameter, schema or example was authored by API Evangelist.
  contact:
    name: TokenSniffer Support
    url: https://tokensniffer.com/contact
  x-provider: Solidus Labs
  x-product: TokenSniffer
servers:
- url: https://tokensniffer.com/api/v2/tokens
security:
- sec0: []
tags:
- name: Corrections
paths:
  /corrections:
    get:
      summary: List Corrected Tokens
      description: Get the tokens which were un-flagged in the last 24 hours.  Available with the Enterprise plan.
      operationId: list-corrected-tokens
      parameters:
      - name: chain_id
        in: query
        description: Chain identifier
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results.  Defaults to 100 with a maximum of 5000.
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Number of results to skip.  Defaults to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: start_time
        in: query
        description: Restrict results to tokens created/flagged after this time.
        schema:
          type: string
      - name: end_time
        in: query
        description: Restrict results to tokens created/flagged before this time
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 36,\n  \"result\": [\n    {\n      \"chain_id\": \"1\",\n      \"address\": \"0xf86f074d2230a2961499e7a7101cea291978d23f\",\n      \"deployer_addr\": \"0xba059c8bebeeda8f000267b7ff066fe0595b3fd2\",\n      \"name\": \"SHIBA INU CHAIN\",\n      \"symbol\": \"SINU\",\n      \"created_at\": \"2023-03-05T18:22:35.000Z\",\n      \"unflagged_at\": \"2025-04-04T20:02:09.144Z\",\n      \"is_source_verified\": true\n    }\n    ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 36
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        chain_id:
                          type: string
                          example: '1'
                        address:
                          type: string
                          example: '0xf86f074d2230a2961499e7a7101cea291978d23f'
                        deployer_addr:
                          type: string
                          example: '0xba059c8bebeeda8f000267b7ff066fe0595b3fd2'
                        name:
                          type: string
                          example: SHIBA INU CHAIN
                        symbol:
                          type: string
                          example: SINU
                        created_at:
                          type: string
                          example: '2023-03-05T18:22:35.000Z'
                        unflagged_at:
                          type: string
                          example: '2025-04-04T20:02:09.144Z'
                        is_source_verified:
                          type: boolean
                          example: true
                          default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/list-corrected-tokens
      tags:
      - Corrections
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: query
      name: apikey
x-evidence:
  fetched: '2026-08-05'
  method: searched
  sources:
  - https://tokensniffer.readme.io/reference/get-malicious-tokens
  - https://tokensniffer.readme.io/reference/get-token-results
  - https://tokensniffer.readme.io/reference/list-corrected-tokens
  - https://tokensniffer.readme.io/reference/list-latest-tokens
  note: Each source page embeds a "# OpenAPI definition" JSON block authored by the provider in ReadMe; those blocks were parsed and merged by shared info.title + servers[].url. Nothing added.
