openapi: 3.2.0
info:
  title: Solidus Labs Latest API
  version: '2.0'
  contact:
    name: TokenSniffer Support
    url: https://tokensniffer.com/contact
  description: 'Operations tagged Latest across 2 of this provider''s published API definitions: solidus-labs-tokensniffer-pairs-openapi.yml, solidus-labs-tokensniffer-tokens-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tokensniffer.com/api/v2/pairs
- url: https://tokensniffer.com/api/v2/tokens
security:
- sec0: []
tags:
- name: Latest
paths:
  /latest:
    servers:
    - url: https://tokensniffer.com/api/v2/pairs
    get:
      summary: List Latest Pairs
      description: Get the latest trading pairs created in the last 24 hours.  Available with the Enterprise plan.
      operationId: getting-started-with-your-api
      parameters:
      - name: chain_id
        in: query
        description: Chain identifier
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results.  Defaults to 100 with a maximum of 5000.
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Number of results to skip.  Defaults to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: start_time
        in: query
        description: Restrict results to tokens created after this time
        schema:
          type: string
      - name: end_time
        in: query
        description: Restrict results to tokens created before this time
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 5000,\n  \"result\": [\n    {\n      \"chain_id\": \"56\",\n      \"factory_address\": \"0xca143ce32fe78f1f7019d7d551a6402fc5350c73\",\n      \"pair_address\": \"0xaa91a50700441d3dda3fe5dc02ec2b9574c56cbb\",\n      \"created_at\": \"2025-04-04T21:10:06.000Z\",\n      \"is_rugpull\": false,\n      \"tokens\": [\n        {\n          \"address\": \"0x578dec86ae6909e6d0b4c58064c74eb24e9fce0f\",\n          \"name\": \"The Yellow Emperor\",\n          \"symbol\": \"Huangdi\"\n        },\n        {\n          \"address\": \"0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c\",\n          \"name\": \"Wrapped BNB\",\n          \"symbol\": \"WBNB\"\n        }\n      ],\n      \"rugpulls\": []\n    }\n ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 5000
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        chain_id:
                          type: string
                          example: '56'
                        factory_address:
                          type: string
                          example: '0xca143ce32fe78f1f7019d7d551a6402fc5350c73'
                        pair_address:
                          type: string
                          example: '0xaa91a50700441d3dda3fe5dc02ec2b9574c56cbb'
                        created_at:
                          type: string
                          example: '2025-04-04T21:10:06.000Z'
                        is_rugpull:
                          type: boolean
                          example: false
                          default: true
                        tokens:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                                example: '0x578dec86ae6909e6d0b4c58064c74eb24e9fce0f'
                              name:
                                type: string
                                example: The Yellow Emperor
                              symbol:
                                type: string
                                example: Huangdi
                        rugpulls:
                          type: array
                          items:
                            type: object
                            properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/getting-started-with-your-api
      tags:
      - Latest
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: query
      name: apikey
x-refined-from:
- solidus-labs-tokensniffer-pairs-openapi.yml
- solidus-labs-tokensniffer-tokens-openapi.yml
x-evidence:
  fetched: '2026-08-05'
  method: searched
  sources:
  - https://tokensniffer.readme.io/reference/get-address-results
  - https://tokensniffer.readme.io/reference/get-malicious-addresses
  note: Each source page embeds a "# OpenAPI definition" JSON block authored by the provider in ReadMe; those blocks were parsed and merged by shared info.title + servers[].url. Nothing added.
