openapi: 3.1.0
info:
  title: Token API
  version: '2.0'
  description: Published by Solidus Labs as the TokenSniffer API. Assembled verbatim from the OpenAPI 3.1.0 fragments Solidus
    Labs publishes on each operation page of https://tokensniffer.readme.io/reference/ (llms.txt markdown rendering). No operation,
    parameter, schema or example was authored by API Evangelist.
  contact:
    name: TokenSniffer Support
    url: https://tokensniffer.com/contact
  x-provider: Solidus Labs
  x-product: TokenSniffer
servers:
- url: https://tokensniffer.com/api/v2/tokens
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: query
      name: apikey
security:
- sec0: []
paths:
  /corrections:
    get:
      summary: List Corrected Tokens
      description: Get the tokens which were un-flagged in the last 24 hours.  Available with the Enterprise plan.
      operationId: list-corrected-tokens
      parameters:
      - name: chain_id
        in: query
        description: Chain identifier
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results.  Defaults to 100 with a maximum of 5000.
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Number of results to skip.  Defaults to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: start_time
        in: query
        description: Restrict results to tokens created/flagged after this time.
        schema:
          type: string
      - name: end_time
        in: query
        description: Restrict results to tokens created/flagged before this time
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 36,\n  \"result\": [\n    {\n      \"chain_id\": \"1\",\n\
                    \      \"address\": \"0xf86f074d2230a2961499e7a7101cea291978d23f\",\n      \"deployer_addr\": \"0xba059c8bebeeda8f000267b7ff066fe0595b3fd2\"\
                    ,\n      \"name\": \"SHIBA INU CHAIN\",\n      \"symbol\": \"SINU\",\n      \"created_at\": \"2023-03-05T18:22:35.000Z\"\
                    ,\n      \"unflagged_at\": \"2025-04-04T20:02:09.144Z\",\n      \"is_source_verified\": true\n    }\n\
                    \    ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 36
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        chain_id:
                          type: string
                          example: '1'
                        address:
                          type: string
                          example: '0xf86f074d2230a2961499e7a7101cea291978d23f'
                        deployer_addr:
                          type: string
                          example: '0xba059c8bebeeda8f000267b7ff066fe0595b3fd2'
                        name:
                          type: string
                          example: SHIBA INU CHAIN
                        symbol:
                          type: string
                          example: SINU
                        created_at:
                          type: string
                          example: '2023-03-05T18:22:35.000Z'
                        unflagged_at:
                          type: string
                          example: '2025-04-04T20:02:09.144Z'
                        is_source_verified:
                          type: boolean
                          example: true
                          default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/list-corrected-tokens
  /latest:
    get:
      summary: List Latest Tokens
      description: Get the latest tokens created in the last 24 hours.  Available with the Enterprise plan.
      operationId: list-latest-tokens
      parameters:
      - name: chain_id
        in: query
        description: Chain identifier
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Maximum number of results.  Defaults to 100 with a maximum of 5000.
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Number of results to skip.  Defaults to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: start_time
        in: query
        description: Restrict results to tokens created after this time
        schema:
          type: string
      - name: end_time
        in: query
        description: Restrict results to tokens created before this time
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 5000,\n  \"result\": [\n    {\n      \"chain_id\": \"56\"\
                    ,\n      \"address\": \"0x578dec86ae6909e6d0b4c58064c74eb24e9fce0f\",\n      \"deployer_addr\": \"0xcef1da55083d4838263e1890d18c7d1e361bf17b\"\
                    ,\n      \"name\": \"The Yellow Emperor\",\n      \"symbol\": \"Huangdi\",\n      \"created_at\": \"2025-04-04T21:10:06.000Z\"\
                    ,\n      \"exploits\": []\n    }\n   ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 5000
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        chain_id:
                          type: string
                          example: '56'
                        address:
                          type: string
                          example: '0x578dec86ae6909e6d0b4c58064c74eb24e9fce0f'
                        deployer_addr:
                          type: string
                          example: '0xcef1da55083d4838263e1890d18c7d1e361bf17b'
                        name:
                          type: string
                          example: The Yellow Emperor
                        symbol:
                          type: string
                          example: Huangdi
                        created_at:
                          type: string
                          example: '2025-04-04T21:10:06.000Z'
                        exploits:
                          type: array
                          items:
                            type: object
                            properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/list-latest-tokens
  /scams:
    get:
      summary: List Malicious Tokens
      description: Get the scam tokens flagged in the last 24 hours.  Available with the Enterprise plan.
      operationId: get-malicious-tokens
      parameters:
      - name: chain_id
        in: query
        description: Chain identifier
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Maximum number of results.  Defaults to 100 with a maximum of 5000.
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Number of results to skip.  Defaults to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: start_time
        in: query
        description: Restrict results to tokens created/flagged after this time.
        schema:
          type: string
      - name: end_time
        in: query
        description: Restrict results to tokens created/flagged before this time
        schema:
          type: string
      - name: deployer_address
        in: query
        description: Restrict results to token contracts deployed by given address
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 1,\n  \"result\": [\n    {\n      \"chain_id\": 1,\n   \
                    \   \"address\": \"0x318c7d361d0a26c7ff8126a4b11ab65fdba8aa12\",\n      \"name\": \"Frog Santa\",\n  \
                    \    \"symbol\": \"FGS\",\n      \"deployer_address\": \"0x4cb35982daa6e27a4db10684ab486029a2e08476\"\
                    ,\n      \"created_at\": \"2022-12-15T04:05:15.719Z\",\n      \"is_source_verified\": true,\n      \"\
                    exploits\": [\n        {\n          \"id\": 35,\n          \"name\": \"Hidden mint functionality #5\"\
                    ,\n          \"types\": [\n            \"fake ownership renounce\", \n            \"hidden mint\"\n  \
                    \        ]\n        }\n      ]\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 1
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        chain_id:
                          type: integer
                          example: 1
                          default: 0
                        address:
                          type: string
                          example: '0x318c7d361d0a26c7ff8126a4b11ab65fdba8aa12'
                        name:
                          type: string
                          example: Frog Santa
                        symbol:
                          type: string
                          example: FGS
                        deployer_address:
                          type: string
                          example: '0x4cb35982daa6e27a4db10684ab486029a2e08476'
                        created_at:
                          type: string
                          example: '2022-12-15T04:05:15.719Z'
                        is_source_verified:
                          type: boolean
                          example: true
                          default: true
                        exploits:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 35
                                default: 0
                              name:
                                type: string
                                example: 'Hidden mint functionality #5'
                              types:
                                type: array
                                items:
                                  type: string
                                  example: fake ownership renounce
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"reason\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: reason
      deprecated: false
      security: []
      x-source-doc: https://tokensniffer.readme.io/reference/get-malicious-tokens
  /{chain_id}/{address}:
    get:
      summary: Get Token
      description: Get token information, metrics, similar contracts, and Smell Test results including token score and scam
        status.  Available with the Pro and Enterprise plans.
      operationId: get-token-results
      parameters:
      - name: chain_id
        in: path
        description: Chain identifier
        schema:
          type: integer
          format: int32
        required: true
      - name: address
        in: path
        description: Token contract address
        schema:
          type: string
        required: true
      - name: include_metrics
        in: query
        description: Include on-chain metrics such as holders and liquidity (permissions, swap_simulation, balances, pools,
          score)
        schema:
          type: boolean
          default: false
      - name: include_tests
        in: query
        description: Include Smell Test results
        schema:
          type: boolean
          default: false
      - name: include_similar
        in: query
        description: Include similar contracts results
        schema:
          type: boolean
          default: false
      - name: block_until_ready
        in: query
        description: Block response until status="ready"
        schema:
          type: boolean
          default: false
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                (include_metrics=true, include_tests=true):
                  value: "{\n  \"message\": \"OK\",\n  \"status\": \"ready\",\n  \"chain_id\": 56, \n  \"address\": \"0x0671d181e36f207b22df910fb9d1f2d981a6d574\"\
                    ,\n  \"name\": \"ChildDoge\",\n  \"symbol\": \"ChildDoge\",\n  \"total_supply\": 123,\n  \"decimals\"\
                    : 9,\n  \"created_at\": 1624455637000,\n  \"deployer_address\": \"0x123\",\n  \"is_flagged\": true,\n\
                    \  \"exploits\": [\n    \"honeypot\"\n  ],\n  \"contract\": {\n      \"is_source_verified\": true,\n \
                    \     \"has_mint\": true,\n      \"has_fee_modifier\": false,\n      \"has_max_transaction_amount\": false,\n\
                    \      \"has_blocklist\": false,\n      \"has_proxy\": false,\n      \"has_pausable\": true\n  }, \n \
                    \ \"permissions\": {\n    \"owner_address\": \"0x0671d181e36f207b22df910fb9d1f2d981a6d574\",\n    \"is_ownership_renounced\"\
                    : false\n  },\n  \"swap_simulation\": {\n    \"is_sellable\": true,\n    \"buy_fee\": 1,\n    \"sell_fee\"\
                    : 0\n  },\n  \"balances\": {\n    \"burn_balance\": 1234,\n    \"lock_balance\": 1234,\n    \"deployer_balance\"\
                    : 1234,\n    \"owner_balance\": 123,  \n    \"top_holders\": [\n      {\n        \"address\": \"0x383a1d12a354b7cdbd95fc7a411b9a4e327c7058\"\
                    ,\n        \"balance\": 71767430324769.23,\n        \"is_contract\": false\n      }\n    ]\n  },\n  \"\
                    pools\": [\n    {\n      \"address\": \"0xe535e8b16fa51c45b8f36d9a07b11823522bca56\",\n      \"name\"\
                    : \"Uniswap v2\",\n      \"base_address\": \"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\",\n      \"base_symbol\"\
                    : \"ETH\",\n      \"total_supply\": 9472911695158690000000,\n      \"decimals\": 18,\n      \"base_reserve\"\
                    : 5.004710819206843,\n      \"owner_balance\": 0,\n      \"deployer_balance\": 7401466896810723000,\n\
                    \      \"burn_balance\": 219973065873940400000,\n      \"lock_balance\": 9245537162387938000000,\n   \
                    \   \"locks\": [\n        {\n          \"address\": \"0xe2fe530c047f2d85298b07d9333c05737f1435fb\",\n\
                    \          \"name\": \"TrustSwap\",\n          \"balance\": 9245537162387938000000,\n          \"start_time\"\
                    : 1673638451,\n          \"end_time\": 1673638451\n        }\n      ],\n      \"top_holders\": [\n   \
                    \     {\n          \"address\": \"0x383a1d12a354b7cdbd95fc7a411b9a4e327c7058\",\n          \"balance\"\
                    : 71767430324769.23,\n          \"is_contract\": false\n        }\n      ]\n    }\n  ],\n  \"tests\":\
                    \ [\n    {\n      \"id\": \"testForInadeqateLiquidityLockedOrBurned\",\n      \"description\": \"At least\
                    \ 95% of liquidity locked/burned\",\n      \"result\": false,\n      \"value\": 9465510228261878000000,\n\
                    \      \"value_pct\": 0.9992186703375907\n    }\n  ],\n  \"similar\": [\n    \"chainId\": \"ETH\",\n \
                    \   \"address\": \"0x868d070fe968c3239de611867bbfb92233a09003\",\n    \"score\": 99\n  ],\n  \"score\"\
                    : 0, \n  \"risk_level\": \"high\"\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  message: \"reason\"\n}"
      deprecated: false
      security: []
      x-source-doc: https://tokensniffer.readme.io/reference/get-token-results
x-evidence:
  fetched: '2026-08-05'
  method: searched
  sources:
  - https://tokensniffer.readme.io/reference/get-malicious-tokens
  - https://tokensniffer.readme.io/reference/get-token-results
  - https://tokensniffer.readme.io/reference/list-corrected-tokens
  - https://tokensniffer.readme.io/reference/list-latest-tokens
  note: Each source page embeds a "# OpenAPI definition" JSON block authored by the provider in ReadMe; those blocks were
    parsed and merged by shared info.title + servers[].url. Nothing added.
