openapi: 3.2.0
info:
  title: Webhooks Webhooks API API
  version: '2.0'
  description: Published by Solidus Labs as the TokenSniffer API. Assembled verbatim from the OpenAPI 3.1.0 fragments Solidus Labs publishes on each operation page of https://tokensniffer.readme.io/reference/ (llms.txt markdown rendering). No operation, parameter, schema or example was authored by API Evangelist.
  contact:
    name: TokenSniffer Support
    url: https://tokensniffer.com/contact
  x-provider: Solidus Labs
  x-product: TokenSniffer
servers:
- url: https://tokensniffer.com/api/v3/webhooks
security:
- sec0: []
tags:
- name: Webhooks API
paths:
  /:
    post:
      summary: Create Webhook
      description: Create a new webhook subscription.
      operationId: create-webhook
      parameters:
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - callback_url
              - event_types
              - secret
              properties:
                callback_url:
                  type: string
                  description: Your callback URL (HTTPS only) where webhook data will be sent.
                event_types:
                  type: array
                  description: List of event type identifiers for which to send notifications.  See [Event Types](https://tokensniffer.readme.io/reference/event-types) for the list of available event types.
                  items:
                    type: string
                secret:
                  type: string
                  description: Secret phrase to use for SHA-256 encoding the notification request, ideally a random string of text with high entropy.
                filters:
                  type: object
                  description: 'Object of filters. Currently supports "chain_id: <int>" and "chain_ids: list <int>"'
                  properties: {}
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"subscription_id\": \"1fe6b82a-db29-4880-86ad-f79c57724c72\",\n  \"callback_url\": \"https://client.app/ts-webhook\",\n  \"event_types\": [\n    \"token.malicious\",\n    \"token.created\"\n  ],\n  \"created_at\": \"2025-11-26T20:47:38.161Z\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  subscription_id:
                    type: string
                    example: 1fe6b82a-db29-4880-86ad-f79c57724c72
                  callback_url:
                    type: string
                    example: https://client.app/ts-webhook
                  event_types:
                    type: array
                    items:
                      type: string
                      example: token.malicious
                  created_at:
                    type: string
                    example: '2025-11-26T20:47:38.161Z'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/create-webhook
      tags:
      - Webhooks API
    get:
      summary: List Webhooks
      description: Return a paginated list of all active webhook subscriptions.
      operationId: list-webhooks
      parameters:
      - name: event_type
        in: query
        description: Filter results by event type.
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Number of results to skip.
        schema:
          type: integer
          format: int32
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 2,\n  \"result\": [\n    {\n      \"subscription_id\": \"fac8df3b-b0e9-4a16-9990-503f704445ff\",\n      \"callback_url\": \"https://client.app/ts-webhook\",\n      \"event_types\": [\n        \"token.malicious\",\n        \"token.created\"\n      ],\n      \"created_at\": \"2025-09-08T01:46:36.436Z\"\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 2
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        subscription_id:
                          type: string
                          example: fac8df3b-b0e9-4a16-9990-503f704445ff
                        callback_url:
                          type: string
                          example: https://client.app/ts-webhook
                        event_types:
                          type: array
                          items:
                            type: string
                            example: token.malicious
                        created_at:
                          type: string
                          example: '2025-09-08T01:46:36.436Z'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/list-webhooks
      tags:
      - Webhooks API
  /{subscription_id}:
    delete:
      summary: Delete Webhook
      description: Deactivate a webhook subscription.
      operationId: delete-webhook
      parameters:
      - name: subscription_id
        in: path
        description: Unique identifier for the subscription to fetch.
        schema:
          type: string
        required: true
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/delete-webhook
      tags:
      - Webhooks API
    get:
      summary: Get Webhook
      description: Fetch the configuration details for a webhook subscription.
      operationId: get-webhook
      parameters:
      - name: subscription_id
        in: path
        description: Unique identifier for the subscription to fetch.
        schema:
          type: string
        required: true
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"subscription_id\": \"fac8df3b-b0e9-4a16-9990-503f704445ff\",\n  \"callback_url\": \"https://client.app/ts-webhook\",\n  \"event_types\": [\n    \"token.malicious\",\n    \"token.created\"\n  ],\n  \"created_at\": \"2025-09-08T01:46:36.436Z\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  subscription_id:
                    type: string
                    example: fac8df3b-b0e9-4a16-9990-503f704445ff
                  callback_url:
                    type: string
                    example: https://client.app/ts-webhook
                  event_types:
                    type: array
                    items:
                      type: string
                      example: token.malicious
                  created_at:
                    type: string
                    example: '2025-09-08T01:46:36.436Z'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/get-webhook
      tags:
      - Webhooks API
    patch:
      summary: Update Webhook
      description: ''
      operationId: update-webhook
      parameters:
      - name: subscription_id
        in: path
        description: Unique identifier for the subscription to update.
        schema:
          type: string
        required: true
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/update-webhook
      tags:
      - Webhooks API
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: apikey
      in: query
x-evidence:
  fetched: '2026-08-05'
  method: searched
  sources:
  - https://tokensniffer.readme.io/reference/create-webhook
  - https://tokensniffer.readme.io/reference/delete-webhook
  - https://tokensniffer.readme.io/reference/get-webhook
  - https://tokensniffer.readme.io/reference/list-webhooks
  - https://tokensniffer.readme.io/reference/update-webhook
  note: Each source page embeds a "# OpenAPI definition" JSON block authored by the provider in ReadMe; those blocks were parsed and merged by shared info.title + servers[].url. Nothing added.
