openapi: 3.1.0
info:
  title: Pair API
  version: '2.0'
  description: Published by Solidus Labs as the TokenSniffer API. Assembled verbatim from the OpenAPI 3.1.0 fragments Solidus
    Labs publishes on each operation page of https://tokensniffer.readme.io/reference/ (llms.txt markdown rendering). No operation,
    parameter, schema or example was authored by API Evangelist.
  contact:
    name: TokenSniffer Support
    url: https://tokensniffer.com/contact
  x-provider: Solidus Labs
  x-product: TokenSniffer
servers:
- url: https://tokensniffer.com/api/v2/pairs
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: query
      name: apikey
security:
- sec0: []
paths:
  /latest:
    get:
      summary: List Latest Pairs
      description: Get the latest trading pairs created in the last 24 hours.  Available with the Enterprise plan.
      operationId: getting-started-with-your-api
      parameters:
      - name: chain_id
        in: query
        description: Chain identifier
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results.  Defaults to 100 with a maximum of 5000.
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Number of results to skip.  Defaults to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: start_time
        in: query
        description: Restrict results to tokens created after this time
        schema:
          type: string
      - name: end_time
        in: query
        description: Restrict results to tokens created before this time
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 5000,\n  \"result\": [\n    {\n      \"chain_id\": \"56\"\
                    ,\n      \"factory_address\": \"0xca143ce32fe78f1f7019d7d551a6402fc5350c73\",\n      \"pair_address\"\
                    : \"0xaa91a50700441d3dda3fe5dc02ec2b9574c56cbb\",\n      \"created_at\": \"2025-04-04T21:10:06.000Z\"\
                    ,\n      \"is_rugpull\": false,\n      \"tokens\": [\n        {\n          \"address\": \"0x578dec86ae6909e6d0b4c58064c74eb24e9fce0f\"\
                    ,\n          \"name\": \"The Yellow Emperor\",\n          \"symbol\": \"Huangdi\"\n        },\n      \
                    \  {\n          \"address\": \"0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c\",\n          \"name\": \"Wrapped\
                    \ BNB\",\n          \"symbol\": \"WBNB\"\n        }\n      ],\n      \"rugpulls\": []\n    }\n ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 5000
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        chain_id:
                          type: string
                          example: '56'
                        factory_address:
                          type: string
                          example: '0xca143ce32fe78f1f7019d7d551a6402fc5350c73'
                        pair_address:
                          type: string
                          example: '0xaa91a50700441d3dda3fe5dc02ec2b9574c56cbb'
                        created_at:
                          type: string
                          example: '2025-04-04T21:10:06.000Z'
                        is_rugpull:
                          type: boolean
                          example: false
                          default: true
                        tokens:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                                example: '0x578dec86ae6909e6d0b4c58064c74eb24e9fce0f'
                              name:
                                type: string
                                example: The Yellow Emperor
                              symbol:
                                type: string
                                example: Huangdi
                        rugpulls:
                          type: array
                          items:
                            type: object
                            properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/getting-started-with-your-api
  /scams:
    get:
      summary: List Malicious Pairs
      description: Get the trading pairs which have been rugpulled in the last 24 hours.  Available with the Enterprise plan.
      operationId: list-malicious-pairs
      parameters:
      - name: chain_id
        in: query
        description: Chain identifier
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results.  Defaults to 100 with a maximum of 5000.
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Number of results to skip.  Defaults to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: start_time
        in: query
        description: Restrict results to tokens created after this time
        schema:
          type: string
      - name: end_time
        in: query
        description: Restrict results to tokens created before this time
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 1452,\n  \"result\": [\n    {\n      \"chain_id\": \"56\"\
                    ,\n      \"factory_address\": \"0xca143ce32fe78f1f7019d7d551a6402fc5350c73\",\n      \"pair_address\"\
                    : \"0xc444deabb42cd9da642f7aa106fbb7f88b3e58ae\",\n      \"created_at\": \"2025-04-04T21:06:03.000Z\"\
                    ,\n      \"is_rugpull\": true,\n      \"tokens\": [\n        {\n          \"address\": \"0x953e5cb1e053b3158166935aff287ffc7cf5984c\"\
                    ,\n          \"name\": \"AIBRAIN\",\n          \"symbol\": \"AIBRAIN\"\n        },\n        {\n      \
                    \    \"address\": \"0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c\",\n          \"name\": \"Wrapped BNB\"\
                    ,\n          \"symbol\": \"WBNB\"\n        }\n      ],\n      \"rugpulls\": [\n        {\n          \"\
                    category\": \"swap\",\n          \"timestamp\": \"2025-04-04T21:06:06.000Z\",\n          \"tx_hash\":\
                    \ \"0x3e7a79a5fe81499236f3dc8337004d68fcc5cc38cb2177ae481c0f9839ca0a08\"\n        }\n      ]\n    }\n\
                    \   ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 1452
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        chain_id:
                          type: string
                          example: '56'
                        factory_address:
                          type: string
                          example: '0xca143ce32fe78f1f7019d7d551a6402fc5350c73'
                        pair_address:
                          type: string
                          example: '0xc444deabb42cd9da642f7aa106fbb7f88b3e58ae'
                        created_at:
                          type: string
                          example: '2025-04-04T21:06:03.000Z'
                        is_rugpull:
                          type: boolean
                          example: true
                          default: true
                        tokens:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                                example: '0x953e5cb1e053b3158166935aff287ffc7cf5984c'
                              name:
                                type: string
                                example: AIBRAIN
                              symbol:
                                type: string
                                example: AIBRAIN
                        rugpulls:
                          type: array
                          items:
                            type: object
                            properties:
                              category:
                                type: string
                                example: swap
                              timestamp:
                                type: string
                                example: '2025-04-04T21:06:06.000Z'
                              tx_hash:
                                type: string
                                example: '0x3e7a79a5fe81499236f3dc8337004d68fcc5cc38cb2177ae481c0f9839ca0a08'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/list-malicious-pairs
  /scams/tokens:
    get:
      summary: List Tokens with Malicious Pairs
      description: Get the tokens (excluding the quote token such as ETH, BNB, etc) for trading pairs which have been rugpulled
        in the last 24 hours.  Available with the Enterprise plan.
      operationId: list-tokens-with-malicious-pairs
      parameters:
      - name: chain_id
        in: query
        description: Chain identifier
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results.  Defaults to 100 with a maximum of 5000.
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Number of results to skip.  Defaults to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: start_time
        in: query
        description: Restrict results to tokens created after this time
        schema:
          type: string
      - name: end_time
        in: query
        description: Restrict results to tokens created before this time
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Your assigned API key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"OK\",\n  \"total\": 1357,\n  \"result\": [\n    {\n      \"address\": \"0x953e5cb1e053b3158166935aff287ffc7cf5984c\"\
                    ,\n      \"name\": \"AIBRAIN\",\n      \"symbol\": \"AIBRAIN\",\n      \"chain_id\": \"56\",\n      \"\
                    rugpulls\": [\n        {\n          \"category\": \"swap\",\n          \"timestamp\": \"2025-04-04T21:06:06.000Z\"\
                    ,\n          \"tx_hash\": \"0x3e7a79a5fe81499236f3dc8337004d68fcc5cc38cb2177ae481c0f9839ca0a08\"\n   \
                    \     }\n      ]\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  total:
                    type: integer
                    example: 1357
                    default: 0
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          example: '0x953e5cb1e053b3158166935aff287ffc7cf5984c'
                        name:
                          type: string
                          example: AIBRAIN
                        symbol:
                          type: string
                          example: AIBRAIN
                        chain_id:
                          type: string
                          example: '56'
                        rugpulls:
                          type: array
                          items:
                            type: object
                            properties:
                              category:
                                type: string
                                example: swap
                              timestamp:
                                type: string
                                example: '2025-04-04T21:06:06.000Z'
                              tx_hash:
                                type: string
                                example: '0x3e7a79a5fe81499236f3dc8337004d68fcc5cc38cb2177ae481c0f9839ca0a08'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-source-doc: https://tokensniffer.readme.io/reference/list-tokens-with-malicious-pairs
x-evidence:
  fetched: '2026-08-05'
  method: searched
  sources:
  - https://tokensniffer.readme.io/reference/getting-started-with-your-api
  - https://tokensniffer.readme.io/reference/list-malicious-pairs
  - https://tokensniffer.readme.io/reference/list-tokens-with-malicious-pairs
  note: Each source page embeds a "# OpenAPI definition" JSON block authored by the provider in ReadMe; those blocks were
    parsed and merged by shared info.title + servers[].url. Nothing added.
